### Deliverables:

#### 1. Data Preparation - NLP

##### Q3: Identify the special characters to keep and remove from the text

- Removing special characters using regex

-- Importing Modules

In [1]:
import pandas as pd
import numpy as np
import os
import nltk
import re
import spacy
spacy.load("en_core_web_lg")

In [2]:
df = pd.read_excel("D:/NLP/data/bank_a_sentiment_analysis_translated_inputdata.xlsx")
print(df.info(),"Shape:",df.shape)
df = df[["translated_review","actual_sentiment"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3486 entries, 0 to 3485
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          3486 non-null   float64
 1   translated_review  3481 non-null   object
 2   actual_sentiment   3482 non-null   object
dtypes: float64(1), object(2)
memory usage: 81.8+ KB
None Shape: (3486, 3)

In [3]:
def preprocess(sentence):
    sentence=str(sentence)
    sentence = sentence.lower()
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)

    return "".join(cleantext)

df['cleanText']=df['translated_review'].map(lambda s:preprocess(s))

In [ ]:
df

,translated_review,actual_sentiment,cleanText
0,"in the branch of san marco evangelista, the em...",Positive,"in the branch of san marco evangelista, the em..."
1,5 00 of commissions to withdraw your money at ...,Negative,5 00 of commissions to withdraw your money at ...
2,when the f24 on the app thanks,Neutral,when the f24 on the app thanks
3,lower the commissions,Neutral,lower the commissions
4,promotes and supports the small business in th...,Positive,promotes and supports the small business in th...
...,...,...,...
3481,NaN,Negative,nan
3482,NaN,Positive,nan
3483,NaN,Positive,nan
3484,NaN,Neutral,nan
3485,NaN,Positive,nan